header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
body{
    background-color: gainsboro;
}
.post{
    background-color:white;
    height: 65%;
}
.container{
    width: 600px;
    margin: auto;
}
img{
    width:600px;
    margin: auto;
    height: 70%;
}
.encabezado span{
    position: relative;
    bottom: 40px;
    margin-left: 90%;
    color: grey;

}
.encabezado h2{
    margin-left: 2%;
}
.descripcion p{
    margin-left: 15px;
    text-align: left;
    margin-bottom: 30px;
}